@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600;700&display=swap');
:root{
    --fs-heading: 2.5rem;
    --fs-work-title: 3rem;
    --fs-paragraph: 1.5rem;
    --pf-sz: 30vw;
}

@media only screen and (max-width: 600px) {
    :root{
        --fs-heading: 2rem;
        --fs-work-title: 1.5rem;
        --pf-sz:90vw;
        --fs-paragraph: 1.2rem;
    }
}

/* --- Intro div --- */
#home-intoduction{
    /* background-color: #309B1D; */
    width: fit-content;
    margin: 30vh auto 25vh auto;
}

@media only screen and (max-width: 600px){
    #home-intoduction {
        margin: 20vh auto 20vh auto;
    }
}

#home-intoduction,p{
    /* color: #FAFAF0; */
    color: black;
    font-family: var(--ff-heading);
    font-weight: regular;
    font-size: var(--fs-heading);
}

/* --- Divider Line --- */
#DividerLine{
    border-color: black;
    width: 50vh;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 600px){
    #DividerLine{
        width: 30vh;
    }
}

/* --- My work --- */

#WorkTitle{
    font-family: var(--ff-heading);
    font-size: var(--fs-work-title);
    width: fit-content;
    margin: 0 auto;
}

#marquee-contianer{
    --gap:1rem;
    /* position: absolute; */
    /* bottom: 0px; */
    width: 39vw;
    display: flex;
    overflow: hidden;
    gap: var(--gap);

    background: rgba(217, 217, 217, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
@media only screen and (max-width: 600px){
    #marquee-contianer{
        width: 80vw;
    }
}
#marquee-content{
    margin: 0;
    padding: 0 ;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll-left 15s linear infinite;
}
.marquee-buttons{
    font-family: var(--ff-heading);
    font-weight: 900;
    font-size: var(--fs-heading);
}

.home-introduction-hobbies-grid{
    display: grid;
    grid-template-columns: 30px 1fr min-content;
}


/* --- Big porject card --- */
.big-project-card-container{
    display: grid;
    grid-template-columns: 45vw 45vw ;
    width: 90%;
    margin: 0% 5%;
    padding:  50px 0;
}

.big-project-card-image{
    margin: auto;
    aspect-ratio: 16/9;
    border-radius: 10px;
    width: 40vw;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 100ms ease;
}
.big-project-card-image:hover{
    transform: scale(1.05);
}
.big-project-card-title{
    color: #ffffff;
}
#big-project-card-about-description{
    margin: auto;
    width: min(100% - 2 rem, 90ch);
}

#show-mobile{
    display: none;
}
#hide-mobile{
    display: block;
}

@media only screen and (max-width:600px){
    .big-project-card-container{
        display: block;
    }
    .big-project-card-about-description{
        margin-left: 0 ;
    }
    .big-project-card-image{
        width: 90vw;
    } 
    #show-mobile{
        display: block;
    }
    #hide-mobile{
        display: none;
    }

}
#big-project-card-about-description p{
    margin: 10px 0;
    color: rgb(248, 246, 231);
    font-family: var(--ff-heading);
    font-size: var(--fs-paragraph);
    overflow-wrap: break-word;
    vertical-align: middle;
}


/* --- Big project cards background --- */
.big-project-card-1{
    background-color: rgb(44, 44, 44);
}
.big-project-card-2{
    background-color: rgb(233, 72, 76);
}
.big-project-card-3{
    background-color: rgb(177, 177, 177);
}

#about{
    background-color: rgb(44, 44, 44);
}
.about-content-grid{
    display: grid;
    grid-template-columns: var(--pf-sz) 60vw ;
    width: 90%;
    margin: 0% 5% 0 5%;
    padding:  20px 0;
} 
@media only screen and (max-width:600px){
    .about-content-grid{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) ;
    } 
}
#profile-pic{
    aspect-ratio: 1/1;
    width: var(--pf-sz);
    border-radius: 10px;
    object-fit:cover;
}

#about-description{
    margin-left: 20px;
    width: min(100% - 2 rem, 90ch);
}
@media only screen and (max-width:600px){
    #about-description{
        margin-left: 0 ;
    }
}
#about-description p{
    margin: 10px;
    color: rgb(248, 246, 231);
    font-family: var(--ff-heading);
    font-size: var(--fs-paragraph);
    overflow-wrap: break-word;
    vertical-align: middle;
}

.about-action-button{
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(248, 246, 231); ;
}
.about-action-button-container{
    display: flex;
    gap: 30px;
    margin-top: 2%;
}

/* --- Animeation --- */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX( calc(-100% - var(--gap)));
    }   
}