@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600;700&display=swap');

:root{
    --ff-heading: 'kanit', sans-serif;
    --fs-paragraph: 1.45rem;
    --pf-sz: 30vw;
}
@media only screen and (max-width:600px){
    :root{
        --pf-sz:90vw;
        --fs-paragraph: 1.2rem;
    }
}

.about-content-grid{
    display: grid;
    grid-template-columns: var(--pf-sz) 60vw ;
    width: 90%;
    margin: 5% 5% 0 5%;
} 
@media only screen and (max-width:600px){
    .about-content-grid{
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) ;
    } 
}
#profile-pic{
    aspect-ratio: 1/1;
    width: var(--pf-sz);
    border-radius: 10px;
}

#about-description{
    margin-left: 50px ;
    width: 100%;
}
@media only screen and (max-width:600px){
    #about-description{
        margin-left: 0 ;
    }
}
#about-description p{
    font-family: var(--ff-heading);
    font-size: var(--fs-paragraph);
    margin-top: 10px;

}

#cv-button{
    font-style: italic;
    text-decoration: underline;
}
