@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600;700&display=swap');
:root{
    --ff-heading: 'kanit', sans-serif;
    --fs-heading: 2.5rem;
    --fs-work-title: 2.6rem;
}

@media only screen and (max-width: 600px) {
    :root{
        --fs-heading: 2rem;
        --fs-work-title: 1.5rem;
    }
}

/* --- Intro div --- */
#home-intoduction{
    /* background-color: #309B1D; */
    width: fit-content;
    margin: 20vh auto 10vh auto;
}

@media only screen and (max-width: 600px){
    #home-intoduction {
        margin: 20vh auto 20vh auto;
    }
}

#home-intoduction,p{
    /* color: #FAFAF0; */
    color: black;
    font-family: var(--ff-heading);
    font-weight: regular;
    font-size: var(--fs-heading);
}

/* --- Divider Line --- */
#DividerLine{
    border-color: black;
    width: 50vh;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 600px){
    #DividerLine{
        width: 30vh;
    }
}

/* --- My work --- */

#WorkTitle{
    font-family: var(--ff-heading);
    font-size: var(--fs-work-title);
    width: fit-content;
    margin: 0 auto;
}

#marquee-contianer{
    --gap:1rem;
    /* position: absolute; */
    /* bottom: 0px; */
    width: 39vw;
    display: flex;
    overflow: hidden;
    gap: var(--gap);

    background: rgba(217, 217, 217, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
@media only screen and (max-width: 600px){
    #marquee-contianer{
        width: 80vw;
    }
}
#marquee-content{
    margin: 0;
    padding: 0 ;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
    animation: scroll-left 20s linear infinite;
}
.marquee-buttons{
    font-family: var(--ff-heading);
    font-weight: 900;
    font-size: var(--fs-heading);
}

.home-introduction-hobbies-grid{
    display: grid;
    grid-template-columns: 30px 1fr min-content;
}

/* --- Project Cards --- */

#project-card-1{
    /* background-image: url(); */
    background-size: cover;
    background-repeat: none;
    background-color: rgb(255, 120, 120);
}

#project-card-2{
    /* background-image: url(); */
    background-size: cover;
    background-repeat: none;
    background-color: rgb(122, 255, 122);
}
#project-card-3{
    /* background-image: url(); */
    background-size: cover;
    background-repeat: none;
    background-color: rgb(122, 122, 255);
}


/* --- Animeation --- */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX( calc(-100% - var(--gap)));
    }   
}