@font-face {
    font-family: Outfit-Regular;
    src: url('Font/Outfit-Regular.woff2') format('woff2'),
        url('Font/Outfit-Regular.woff') format('woff');
}

*{
    font-family: Outfit-Regular;
    color: white;
    background-color: white;
}
a{
    text-decoration: none;
}
.BoxTitels h1{
    padding-bottom: 100%;
    margin-bottom: 0;
}
h1{
    font-family:Outfit-Regular;
}
h1,p,a{
    background: none;
}
.PageGrid{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    /* border: 1px solid white; */
    height: fit-content;
}
#imageOfMe{
    margin: .5%;
    
}
#home-image{
    border-radius: 10px 3px 3px 10px;
}
.boxesGrid{
    display: grid;
    grid-template-rows: 50% 50%;
    /* border: 1px solid blue; */
}
.boxes{
    background-color: rgb(120, 144, 92);
    margin: 1%;
    border-radius: 3px;
}
#Projects{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/Projects.jpg);
    background-size: contain;
    transition: transform .2s;
}
#Projects:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), url(images/Projects.jpg);
    box-shadow: 0 0 20px black ;
}

#Studies{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(Images/Studies.jpg);
    background-size: contain;
    transition: transform .2s;
}
#Studies:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), url(images/Studies.jpg);
    box-shadow: 0 0 20px black ;
}
#Skills{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/skills.jpg);
    background-size: contain;
    transition: transform .2s;
}
#Skills:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), url(images/skills.jpg);
    box-shadow: 0 0 20px black ;
}
#Hobbies{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/Hobbies.jpg);
    background-size: contain;
    transition: transform .2s;
}
#Hobbies:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), url(images/Hobbies.jpg);
    box-shadow: 0 0 20px black ;
}
#About{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(images/IMG_2488.JPG);
    background-size: contain;
    border-radius: 3px 10px 3px 3px;
    transition: transform .2s;
}
#About:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), url(images/IMG_2488.jpg);
    box-shadow: 0 0 20px black ;
}
#Contact{
    border-radius: 3px 3px 10px 3px;
}
#ContactTitle{
    text-align: center;
}
.ContactText{
    margin: 15% 0 0 3%;
    text-align:left;
}
#title{
    text-align:center;
    margin: 0;
}
#title h1{
    margin: 0;
    color: black;
}
#title p{
    color:black;
    margin: 0;
}
