/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 30, 30);
}
li, a{
    color: #FAFAF0;
    text-decoration: none;
}

/* --- Header --- */
header{
    display: flex;
    justify-content: flex-end;
}

#logo{
    font-family: 'kanit', sans-serif;
    margin-right: auto;
    margin-left: 2%;
}

#logo:hover{
    color: #309B1D;
}

nav{
    padding-right: 1%;
    padding-top: 4px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
}

.dividers{
    padding: 0;
    font-size: 1.7em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.NavLinkText{
    font-family: 'kanit', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

/* --- Intro div --- */
#Intoduction{
    /* background-color: #309B1D; */
    width: fit-content;
    margin: 20vh auto 10vh auto;
}

#Intoduction,p{
    color: #FAFAF0;
    font-family: 'Kanit', sans-serif;
    font-weight: regular;
    font-size: 1.7em;
}

/* --- Divider Line --- */
#DividerLine{
    width: 50vh;
    height: auto;
    margin: 0 auto;
}

/* --- My work --- */

#WorkTitle{
    color: #FAFAF0;
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
}