#project-card-1{
    background-color: red;
}
#project-card-2{
    background-color: green;
}
#project-card-3{
    background-color: blue;
}
#project-card-4{
    background-color: yellow;
}
#project-card-5{
    background-color: purple;
}
#project-card-6{
    background-color: pink;
}