#project-card-1{
    background-color: rgb(38, 38, 38);
}
#project-card-2{
    background-color: rgb(38, 38, 38);
}
#project-card-3{
    background-color: rgb(38, 38, 38);
}
#project-card-4{
    background-color: rgb(38, 38, 38);
}
#project-card-5{
    background-color: rgb(38, 38, 38);
}
#project-card-6{
    background-color: rgb(38, 38, 38);
}