@font-face {
    font-family: Outfit-Regular;
    src: url('Font/Outfit-Regular.woff2') format('woff2'),
        url('Font/Outfit-Regular.woff') format('woff');
}
*{
    font-family: Outfit-Regular;
    color: white;
    background-color: white;

}
a{
    text-decoration: none;
}
h1,p,a,ul,li{
    background: none;
}
li{
    text-align: left;
}
.PageGrid{
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    height: fit-content;
}
#Tittle-iamge{
    border-radius: 10px 3px 3px 3px;
} 
.SkillsGrid{
    display: grid;
    grid-template-rows: 50% 50%;
}
.SixBoxes{
    text-align: center;
    background-color: rgb(5, 28, 44);
    margin: 0 .5% 1% .5%;
    border-radius: 3px;
}
.SixBoxes h1{
    font-size: 1.5em;
}
#Progammming{
    border-radius: 3px 10px 3px 3px;
}
#Strong{
    margin-left: 1%;
}
#Lang{
    margin-left: 1%;
}
#menuGrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#menuGrid h1{
    margin: 5%;
}
.boxes{
    text-align: center;
    margin: 0 1% 0 1%;
    border-radius: 3px;
}
#Projects{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(0, 170, 255);
    transition: transform .2s;
    border-radius: 3px 3px 3px 10px;
    margin-left: 0;
}
#Projects:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(0, 170, 255);
    box-shadow: 0 0 20px black ;
}
#Studies{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(142, 179, 223);
    transition: transform .2s;
}
#Studies:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(142, 179, 223);;
    box-shadow: 0 0 20px black ;
}
#Hobbies{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(102, 70, 57);
    transition: transform .2s;
}
#Hobbies:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(102, 70, 57);;
    box-shadow: 0 0 20px black ;
}
#About{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(188, 120, 112);
    transition: transform .2s;
}
#About:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(188, 120, 112);
    box-shadow: 0 0 20px black ;
}
#back{
    background-color: black;
    transition: transform .2s;
    border-radius: 3px 3px 10px 3px;
}
#back:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black ;
}