@font-face {
    font-family: Outfit-Regular;
    src: url('Font/Outfit-Regular.woff2') format('woff2'),
        url('Font/Outfit-Regular.woff') format('woff');
}
*{
    font-family: Outfit-Regular;
    color: white;
    background-color: white;
}
body{
    margin-bottom: .1%;
}
a{
    text-decoration: none;
}
h1,p,a,ul,li{
    background: none;
}
h1,p,ul{
    margin: 1%;
}
p{
    font-size: 20px;
}
ul{
    font-size: 20px;
}
.PageGrid{
    display: grid;
    grid-template-columns: 40% 60%;
    height: fit-content;
}
#Tittle-iamge{
    border-radius: 10px 3px 3px 3px;
}
#StudiesContentGrid{
    display: grid;
    grid-template-rows: 50% 50%;
}
.InfoBoxes{
    background: rgb(142, 179, 223);
    border-radius: 3px;
}
#Uni{
    margin: 0 .5% .25% .5%;
    border-top-right-radius: 10px ;
}
.P_Content{
    margin: 2% 1% 2% 1%;
}
#School{
    margin: .25% .5% .5% .5%;
}
#menuGrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#menuGrid h1{
    margin: 5%;
}
.boxes{
    text-align: center;
    margin: 0 1% 0 1%;
    border-radius: 3px;
}
#Projects{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(0, 170, 255);
    transition: transform .2s;
    border-radius: 3px 3px 3px 10px;
    margin-left: 0;
}
#Projects:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(0, 170, 255);
    box-shadow: 0 0 20px black ;
}
#Skills{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(5, 27, 44);
    transition: transform .2s;
}
#Skills:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(5, 27, 44);;
    box-shadow: 0 0 20px black ;
}
#Hobbies{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(102, 70, 57);
    transition: transform .2s;
}
#Hobbies:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(102, 70, 57);;
    box-shadow: 0 0 20px black ;
}
#About{
    text-align: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), rgb(188, 120, 112);
    transition: transform .2s;
}
#About:hover{
    transform: scale(1.05);
    background: linear-gradient(
          rgba(0, 0, 0, 0), 
          rgba(0, 0, 0, 0)
        ), rgb(188, 120, 112);
    box-shadow: 0 0 20px black ;
}
#back{
    background-color: black;
    transition: transform .2s;
    border-radius: 3px 3px 10px 3px;
}
#back:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px black ;
}